body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

#speedometer {
    height: 100%;
    background-color: #333;
    color: white;

    font-family: monospace;
    font-size: 5rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#speed {
    font-size: 20rem;
}